<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="css/main.css">
    {% endblock %}
</head>


{% block body %}

{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>

    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"> </script>#}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="js/epa.js"></script>

{% endblock %}
</html>