{% extends 'base.html.twig' %}
{% block title %}Hello AdminController!{% endblock %}
{% block body %}
   <body>
        <h1>Server access analysis - EPA</h1>

        <div class="block">
          <h2>HTTP Methods</h2>
          <canvas id="methodChart" width="400" height="400"></canvas>
          {{number}}

        </div>
        <div class="block">
          <h2>Requests per Minute</h2>
          <canvas id="requestsPerMinuteChart" width="400" height="400"></canvas>
        </div>
        <div class="block">
          <h2>Response Codes</h2>
          <canvas id="responseCodeChart" width="400" height="400"></canvas>
        </div>
        <div class="block">
          <h2>Answer Size</h2>
          <canvas id="documentSizeChart" width="400" height="400"></canvas>
        </div>


        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
        <!--
          TODO: Add libraries here
        -->

    </body>
    {% endblock %}
